.main-head{
    height: 150px;
    background: #FFF;
   
}

.sidenav {
    height: 100%;
    background-color: rgb(57, 110, 153);
    overflow-x: hidden;
    padding-top: 20px;
}


.main {
    padding: 0px 10px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
}

@media screen and (max-width: 450px) {
    .login-form{
        margin-top: 10%;
    }

    .register-form{
        margin-top: 10%;
    }
}

@media screen and (min-width: 768px){
    .main{
        margin-left: 50%; 
    }

    .sidenav{
        width: 40%;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
    }

    .login-form{
        margin-top: 60%;
    }

    .register-form{
        margin-top: 40%;
    }
}


.login-main-text{
    margin-top: 20%;
    padding: 60px;
    color: #fff;
}

.login-main-text h2{
    font-weight: 300;
}

.btn-black{
    background-color:rgb(57, 110, 153) !important;
    color: #fff;
}

.navbar{
    background-color: rgb(57, 110, 153);
}

.navbar .nav-item a{
    color: white;
}

.navbar a:hover{
    color: rgb(57, 110, 153);
    background-color: white;
}

.navbar li{
    padding-right:  75px;
}

.navbar a.active {
    border-bottom: 2px solid white;
  }

  .nav-tabs .nav-item .nav-link {
    color:rgb(57, 110, 153);
    border: 1px solid #dee2e6
  }
  
  .nav-tabs .nav-item .nav-link.active {
    background-color: rgb(57, 110, 153);
    color: white
    

  }

